---
permalink: assignments/
---

<h2>Upcoming</h2>
<dl>
  {% assign assignments = site.assignments | filter: 'due' | sort: 'due' %}
  {% for assignment in assignments %}
    {% if assignment.announce > site.time %}{% continue %}{% endif %}
    {% if assignment.due > site.time %}
      {% include assignment assignment=assignment %}
    {% endif %}
  {% endfor %}
</dl>

{% comment %}
<h2>Future</h2>
{% assign assignments = site.assignments | filter: 'due' | sort: 'due' %}
{% for assignment in assignments %}
  {% if assignment.announce > site.time %}
    {% include assignment assignment=assignment %}
  {% endif %}
{% endfor %}
{% endcomment %}

<h2>Past</h2>
{% assign assignments = site.assignments | filter: 'due' | sort: 'due' %}
{% for assignment in assignments reversed %}
  {% if assignment.due < site.time %}
    {% include assignment assignment=assignment %}
  {% endif %}
{% endfor %}
