---
permalink: /
column-width: 9
---
<!--
{% for p in site.activities %}
  {% assign cur_date = site.time | date: '%Y-%m-%d' %}
  {% assign start_date = p.date | date: '%Y-%m-%d' %}
  {% assign end_date = p.end_date | default: p.date | date: '%Y-%m-%d' %}
  {% if start_date <= cur_date and cur_date <= end_date %}
    {% if p.inline %}
      <h2 class="title is-2">{{ p.title }}</h2>
      <section class="columns box">
        <div class="is-size-6">
          {{ p.content }}
        </div>
      </section>
    {% else %}
      <h2 class="title is-2">In-Class Activity</h2>
      <section class="columns box">
        <div class="is-size-5">
          <a href="{{ p.url }}">{{ p.title }}</a>
      </section>
    {% endif %}
  {% endif %}
{% endfor %}
-->

<h2 class="title is-2">Notes</h2>
<section class="columns box">
  <section class="column">
    <h3 class="subtitle is-4">Recent Notes and Activities</h3>
    <ul>
      {% for p in site.posts limit: 3 %}
        <li>
          <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }} notes</a>
          {% if p.categories.size > 0 %}
            – {{ p.categories | join: ', ' }}
          {% endif %}
        </li>
      {% endfor %}
      <li><a href="{{ site.baseurl }}{% link pages/lecture-notes.html %}">more…</a></li>
    </ul>
  </section>

  <section class="column">
    <h3 class="subtitle is-4">Recent Notebooks</h3>
    <ul>
      {% assign notebooks = site.notebooks | sort_by: 'date' | reverse %}
      {% for p in notebooks limit: 5 %}
        <li><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
      {% endfor %}
      <li><a href="{{ site.baseurl }}{% link pages/lecture-notes.html %}">more…</a></li>
    </ul>
  </section>
</section>

<h2 class="title is-2">Assignments</h2>
<section class="columns box">
  <section class="column">
    <h3 class="subtitle is-4">Upcoming</h3>
      <div><em>Warning: these aren't in order!</em></div>
      {% assign assignments = site.assignments | sort: "due" %}
      {% for assignment in assignments %}
        {% assign announce = assignment.announce | default: site.time %}
        {% if announce <= site.time and assignment.due >= site.time %}
        <div>
            {% assign parts = assignment.parts | where_exp: "part", "part.due > site.time" %}
            {% if parts.size == nil %}
              <a href="{{ site.baseurl }}{{ assignment.url }}">{{ assignment.title }}</a> {% if assignment.parts == nil %} is due {{ assignment.due | date: site.due_datetime_format }}. {% endif %}
            {% endif %}
            {% for part in parts limit: 10 %}
              {% if forloop.index0 > 0 %}</div><div>{% endif %}
              <a href="{{ site.baseurl }}{{ assignment.url }}#{{ part.tag }}">{{ assignment.title }} – {{ part.name }}</a> {% if assignment.parts == nil %} is due {{ assignment.due | date: site.due_datetime_format }}. {% endif %}
              is due {{ part.due | date: site.due_datetime_format }}.
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
  </section>

  <section class="column">
    <h3 class="subtitle is-4">Recent</h3>
      {% assign assignments = site.assignments | sort: due %}
      {% for assignment in assignments reversed %}
        {% assign start_s = assignment.due | date: '%s' %}
        {% assign d = site.time | date: '%s' | minus: start_s | divided_by: 86400 %}
        {% if assignment.due < site.time and d < 5 %}
          <div>
            <a href="{{ site.baseurl }}{{ assignment.url }}">{{ assignment.title }}</a> was due {{ assignment.due | date: site.due_datetime_format }}.
          </div>
        {% endif %}
      {% endfor %}
      <div>
        <a href="{{ site.baseurl }}{% link pages/assignments.html %}">more…</a>
      </div>
  </section>
</section>

<h2>Office Hours</h2>
<table class="table box">
  <tr><th>Who</th><th>When</th><th>Where</th></tr>
  {% for person in site.data.team %}
  <tr>
    <td>{{ person.first_name }}</td>
    <td>{{ person.office_hours }}</td>
    <td>{{ person.office_location }}</td>
  </tr>
  {% endfor %}
</table>

<iframe src="https://docs.google.com/document/d/e/2PACX-1vRPOniWhJazeL_MHOL7ef72LAUef0dOqWQY-bDAvr9zR2Nk2eFw4lJLn-fM7G5WGcAyGVKphe4BPq4m/pub?embedded=true" width="100%" height="200px" scrolling="no"></iframe>

<h2>Course Materials</h2>
<section class="box">
  <dl>
    <dt><a href="http://greenteapress.com/wp/think-python-2e/">Think Python</a>, by Allen Downey</dt>
    <dd>The course text</dd>
    <dt><a href="https://olin.tind.io/record/1512034?ln=en">Optional texts</a></dt>
    <dd>on reserve in the Olin Library</dd>
  </dl>
</section>
