---
permalink: /
column-width: 9
---

{% for p in site.activities %}
  {% assign s_date = site.time | date: '%Y-%m-%d' %}
  {% assign a_date = p.date | date: '%Y-%m-%d' %}
  {% if a_date != s_date %}{% continue %}{% endif %}
    <h2 class="title is-2">In-Class Activity</h2>
    <section class="columns box">
      <div class="is-size-5">
        <a href="{{ p.url }}">{{ p.title }}</a>.
      </div>
    </section>
{% endfor %}

<h2 class="title is-2">Assignments</h2>
<section class="columns box">
  <section class="column">
    <h3 class="subtitle is-4">Upcoming</h3>
      {% assign assignments = site.assignments | sort: "due" %}
      {% for assignment in assignments %}
        {% assign announce = assignment.announce | default: site.time %}
        {% if announce <= site.time and assignment.due >= site.time %}
          <div>
            <a href="{{ assignment.url }}">{{ assignment.title }}</a> {% if assignment.parts == nil %} is due {{ assignment.due | date: site.due_datetime_format }}. {% endif %}
            {% assign parts = assignment.parts | where_exp: "part", "part.due > site.time" %}
            {% for part in parts limit: 1 %}
              part “{{ part.name }}” is due {{ part.due | date: site.due_datetime_format }}.
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
  </section>

  <section class="column">
    <h3 class="subtitle is-4">Recent</h3>
      {% assign assignments = site.assignments | sort: due %}
      {% for assignment in assignments reversed %}
        {% assign start_s = assignment.due | date: '%s' %}
        {% assign d = site.time | date: '%s' | minus: start_s | divided_by: 86400 %}
        {% if assignment.due < site.time and d < 5 %}
          <div>
            <a href="{{ assignment.url }}">{{ assignment.title }}</a> was due {{ assignment.due | date: site.due_datetime_format }}.
          </div>
        {% endif %}
      {% endfor %}
      <div>
        <a href="{% link pages/assignments.html %}">more…</a>
      </div>
  </section>
</section>

<h2 class="title is-2">Notes</h2>
<section class="columns box">
  <section class="column">
    <h3 class="subtitle is-4">Recent Lecture Notes</h3>
    <ul>
      {% for p in site.posts limit: 3 %}
        <li><a href="{{ p.url }}">{{ p.title }} lecture notes</a></li>
      {% endfor %}
      <li><a href="{% link pages/lecture-notes.html %}">more…</a></li>
    </ul>
  </section>


  <section class="column">
    <h3 class="subtitle is-4">Recent Code Notes</h3>
    <ul>
      <li><a href="{% link _notebooks/storing-api-keys.md %}">Storing API keys</a></li>
      <li><a href="{% link _notebooks/caching.md %}">Caching</a></li>
      <li><a href="{% link _notebooks/genefinder-solutions.md %}">GeneFinder solutions</a></li>
      <li><a href="{% link _notebooks/genefinder-going-beyond.md %}">GeneFinder – going beyond</a></li>
      <li><a href="{% link pages/lecture-notes.html %}">more…</a></li>
    </ul>
  </section>
</section>


<h2>Office Hours</h2>
<table class="table box">
  <tr><th>Who</th><th>When</th><th>Where</th></tr>
  {% for person in site.data.team %}
  <tr>
    <td>{{ person.first_name }}</td>
    <td>{{ person.office_hours }}</td>
    <td>{{ person.office_location }}</td>
  </tr>
  {% endfor %}
</table>

<h2>Course Materials</h2>
<section class="box">
  <dl>
    <dt><a href="http://greenteapress.com/wp/think-python-2e/">Think Python</a>, by Allen Downey</dt>
    <dd>The course text</dd>
    <dt><a href="https://olin.tind.io/record/1512034?ln=en">Optional texts</a></dt>
    <dd>on reserve in the Olin Library</dd>
  </dl>
</section>
