---
permalink: /
column-width: 9
---

<h2 class="title is-2">Assignments</h2>
<section class="columns box">
  <section class="column">
    <h3 class="subtitle is-4">Upcoming</h3>
      {% assign assignments = site.assignments | sort: "due" %}
      {% for assignment in assignments %}
        {% assign announce = assignment.announce | default: site.time %}
        {% if announce <= site.time and assignment.due >= site.time %}
          <div>
            <a href="{{ assignment.url }}">{{ assignment.title }}</a> {% if assignment.parts == nil %} is due {{ assignment.due | date: '%-H:%M %P, %a %-d %b' }} {% endif %}
            {% assign parts = assignment.parts | where_exp: "part", "part.due > site.time" %}
            {% for part in parts limit: 1 %}
              “{{ part.name }}” is due {{ part.due | date: '%-H:%M %P, %a %-d %b' }}.
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
  </section>

  <section class="column">
    <h3 class="subtitle is-4">Recent</h3>
      {% assign assignments = site.assignments | sort: due %}
      {% for assignment in assignments reversed %}
        {% assign start_s = assignment.due | date: '%s' %}
        {% assign d = site.time | date: '%s' | minus: start_s | divided_by: 86400 %}
        {% if assignment.due < site.time and d < 5 %}
          <div>
            <a href="{{ assignment.url }}">{{ assignment.title }}</a> was due {{ assignment.due | date: '%-H:%M %P, %a %-d %b' }}.
          </div>
        {% endif %}
      {% endfor %}
      <div>
        <a href="{% link pages/assignments.html %}">more…</a>
      </div>
  </section>
</section>

<h2 class="title is-2">Notes</h2>
<section class="columns box">
  <section class="column">
    <h3 class="subtitle is-4">Recent Lecture Notes</h3>
    <ul>
      <li><a href="{% link _posts/2017-09-28-day-8.md %}">Day 8 lecture notes</a></li>
      <li><a href="{% link _posts/2017-09-25-day-7.md %}">Day 7 lecture notes</a></li>
      <li><a href="{% link pages/lecture-notes.html %}">more…</a></li>
    </ul>
  </section>

  <section class="column">
    <h3 class="subtitle is-4">Recent Code Notes</h3>
    <ul>
      <li><a href="{% link notes/genefinder-solutions.md %}">GeneFinder solutions</a></li>
      <li><a href="{% link notes/genefinder-going-beyond.md %}">GeneFinder – going beyond</a></li>
      <li><a href="{% link notes/palindromes.md %}">`is_palindrome` code</a></li>
      <li><a href="{% link notes/recursion.md %}">Recursion notes</a></li>
      <li><a href="{% link pages/lecture-notes.html %}">more…</a></li>
    </ul>
  </section>
</section>


<h2>Office Hours</h2>
<table class="table box">
  <tr><th>Who</th><th>When</th><th>Where</th></tr>
  {% for person in site.data.team %}
  <tr>
    <td>{{ person.first_name }}</td>
    <td>{{ person.office_hours }}</td>
    <td>{{ person.office_location }}</td>
  </tr>
  {% endfor %}
</table>

<h2>Course Materials</h2>
<section class="box">
  <ul>
    <li><a href="http://greenteapress.com/wp/think-python-2e/">Think Python</a>, by Allen Downey, is the course text</li>
    <li>Optional books are <a href="https://olin.tind.io/record/1512034?ln=en">on reserve in the Olin Library</li>
  </ul>
</section>
