---
permalink: notes/
title: Notes
---

<section class="columns">
    <section class="column">
      <h2>Lecture Notes</h2>
      <ul>
      {% for p in site.posts %}
        <li>
          <a href="{{ p.url }}">{{ p.title }}</a>
          {% if p.categories.size > 0 %}
            – <span class="is-size-7">{{ p.categories | join: ', ' }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class="column">
    <h2>Code Notes</h2>
    <ul>
      {% assign notebooks = site.notebooks | sort_by: 'date' | reverse %}
      {% for p in site.notebooks %}
        <li><a href="{{ p.url }}">{{ p.title }}</a></li>
      {% endfor %}
    </ul>
  </section>
</section>
