<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% if page.title == "Home" %}
        {{ site.title }} &middot; {{ site.tagline }}
      {% else %}
        {{ page.title }} &middot; {{ site.title }}
      {% endif %}
    </title>

    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/litera/bulmaswatch.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% include mathjax %}
    <link rel="stylesheet" href="/assets/css/syntax.css">
    <link rel="stylesheet" href="/assets/css/site.css">
  </head>

  <body>

    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item is-size-1" href="/">
          {% if page.title %}
            {{ site.short_title | default: site.title }} &middot; {{ page.title }}
          {% else %}
            {{ page.title | default: site.title }}
          {% endif %}
          </a>
      </div>
    </nav>

    <nav class="breadcrumb" style="no-print" aria-label="breadcrumbs">
      <ul>
        {% assign components = page.url | split: '/' %}
        {% assign url = components[0] %}
        {% for component in components %}
          {% assign is_active_class = '' %}
          {% assign url = url | append: '/' | append: components[forloop.index0] | replace: '//', '/' %}
          {% assign title = component | capitalize | replace: '-', ' ' | default: 'Home' %}
          {% if forloop.last %}
            {% assign is_active_class = 'is-active' %}
            {% assign title = page.title | default: title | replace: '.html', '' %}
          {% endif %}
          <li class="{{ is_active_class }}">
            <a href="{{ url }}">
              {{ title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <section class="main-content columns container is-fullheight is-widescreen">

        <aside id="left-nav" class="menu column is-3 is-fullheight section is-size-7 no-print">
          <p class="menu-label">Assignments</p>
          <ul class="menu-list">
            {% assign assignments = site.assignments | sort: 'due' %}
            {% for assignment in assignments %}
              {% if assignment.announce > site.time %}{% continue %}{% endif %}
              {% if assignment.due < site.time %}{% continue %}{% endif %}
              <li><a href="{{ assignment.url }}">{{ assignment.title }}</a></li>
            {% endfor %}
            <li class="menu-list"><a href="{% link pages/assignments.html %}">Past and future…</a></li>
          </ul>

          {% for section in site.data.sidebar %}
            <p class="menu-label">{{ section.title }}</p>
            <ul class="menu-list">
              {% for p in section.children %}
                {% if p.path %}
                  <li>search {{ p.path }}</li>
                  {% assign p = site.pages | where: 'path', p.path | first %}
                  <li>found = {{ p.path }}, {{ p.url }}</li>
                  <li>keys = {% for k in p %}{{k[0]}}.{% endfor %}</li>
                {% endif %}
                <li><a href="{{ p.url }}">{{ p.title }}</a></li>
              {% endfor %}
            </ul>
          {% endfor %}
        </aside>

        <div class="content column is-{{ page.column-width | default: 8 }} is-size-8">
          {% if page.url != '/' and page.omit_title != true %}
            <h1 class="title">
              {{ page.title }}
            </h1>
          {% endif %}
          {{ content }}
        </div>

    </section>

  </body>
</html>
