<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% if page.title == "Home" %}
        {{ site.title }} &middot; {{ site.tagline }}
      {% else %}
        {{ page.title }} &middot; {{ site.title }}
      {% endif %}
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="/" class="is-size-1" style="font-size: 2.5rem">
          Software Design
        </a>
      </div>
    </nav>

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        {% assign components = page.url | split: '/' %}
        {% assign url = components[0] %}
        {% for component in components %}
          {% assign is_active_class = '' %}
          {% assign url = url | append: '/' | append: components[forloop.index0] | replace: '//', '/' %}
          {% assign title = component | capitalize | replace: '-', ' ' | default: 'Home' %}
          {% if forloop.last %}
            {% assign is_active_class = 'is-active' %}
            {% assign title = page.title | default: title %}
          {% endif %}
          <li class="{{ is_active_class }}"><a href="{{ url }}">
            {{ title }}
          </a></li>
        {% endfor %}
      </ul>
    </nav>

    <section class="main-content container columns is-fullheight">

        <aside class="menu column is-fullheight section">
          <p class="menu-label"><a href="{% link assignments.md %}">Assignments</a></p>
          <ul class="menu-list">
            {% assign assignments = site.assignments | sort: due | reverse %}
            {% for page in assignments %}
              <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
          </ul>

          <p class="menu-label">Resources</p>
          <ul class="menu-list">
            <li><a href="{% link setup.md %}">Set Up</a></li>
            <li><a href="http://greenteapress.com/wp/think-python-2e/">Think Python</a></li>
            <li><a href="https://docs.python.org/3.5/)">Python 3.5 Documentation</a></li>
            <li><a href="https://docs.python.org/3.5/library/index.html">Python 3.5 Standard Library</a></li>
            <li><a href="http://www.pythontutor.com">Python Tutor</a></li>
            <li><a href="{% link resources.md %}">Additional Links</a></li>
          </ul>

          <p class="menu-label">Course Materials</p>
          <ul class="menu-list">
            <li><a href="{% link reading-journal.md %}">Reading Journal</a></li>
            <li><a href="http://sd17fall.slack.com">Slack</a></li>
            <li><a href="https://github.com/sd17fall/site/tree/master/files/activities/">Handouts</a></li>
            <li><a href="https://olin.tind.io/record/1512034?ln=en">Library reserves</a></li>
          </ul>

          <p class="menu-label">Course Pages</p>
          <ul class="menu-list">
            <li><a href="{% link description.md %}">Course Description</a></li>
            <li><a href="{% link policies.md %}">Course Policies</a></li>
          </ul>
        </aside>


        <div class="container column is-10 content">
          {% if page.url != '/' %}
            <h1 class="title">
              {{ page.title }}
            </h1>
          {% endif %}
          {{ content }}
        </div>

    </section>

  </body>
</html>
